// Fonts

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    .navbar-light .navbar-nav .nav-link {
        color: rgb(252, 255, 228);
        :hover{
            color: rgb(252, 255, 228);
        }
    }
    nav.navbar.navbar-expand-md.navbar-light.text-white.shadow-sm {
        padding: 0;
    }
    .navbar-toggler {
        background-color: #f3d108;;
    }
    .clear-m-p{
        margin: 0;
        padding: 0;
    }
    color:#656565;
    .btn-duper-mart {
        color: #656565;
        background-color: orange;
        border: none;
    }
    .bg-gray{
        background-color: #fbfbfd;
    }
    header , footer, .sidebar{
        background: #021750;
        color: #e7e0e0;
        a{
            color: inherit;
        }
        a:hover{
            color: #f7f0f0;
        }
        .border-radius-0{
            border-radius: 0;
        }


    }
}



